body {
    background-color: lightblue;
  }
  
  .name-title{
    font-size: 30px;
    padding: 0 20px;
  }
  .about-me{
    font-size: 16px;
    padding: 0 40px;
  }
  .skills-title{
    font-size: 24px;
    padding: 0 40px;
  }
  .skills{
    font-size: 16px;
    padding: 0 40px;
  }
  .languages-title{
    font-size: 24px;
    padding: 0 40px;
  }
  .languages{
    font-size: 16px;
    padding: 0 40px;
  }
  .previous-projects{
    font-size: 24px;
    padding: 0 40px;
  }
  .reindeer-racing-image{
    width: 400px;
    height: 180px;
    float: left;
    padding: 20px 50px;
  }
  
  .reindeer-racing-title{
    font-size: 24px;
    padding: 0 40px;
  }
  .reindeer-racing{
    font-size: 16px;
    padding: 0 10px;
  }
  .pogo-blast-image{
    width: 400px;
    height: 240px;
    float: left;
    padding: 20px 50px;
  }
  .pogo-blast-title{
    font-size: 24px;
    padding: 0 40px;
  }
  .pogo-blast{
    font-size: 16px;
    padding: 0 40px;
  }
  .rangers-reserve-image{
    width: 400px;
    height: 280px;
    float: left;
    padding: 20px 50px;
  }
  .rangers-reserve-title{
    font-size: 24px;
    padding: 0 40px;
  }
  .rangers-reserve{
    font-size: 16px;
    padding: 0 40px;
  }
  .eviction-day-image{
    width: 160px;
    height: 160px;
  }
  .eviction-day-title{
    font-size: 24px;
  }
  .eviction-day{
    font-size: 16px;
  }
  .contact-me-title{
    font-size: 24px;
    padding: 0 40px;
  }
  .contact-me{
    font-size: 16px;
  }